@model ChessRoute.Web.Models.ChessParameterModel

<div>
    <div id="chessBoard1" style="width: 400px"></div>

    <div style="float:right">
        @using (Ajax.BeginForm("SolveRoute", "Chess", new AjaxOptions() { HttpMethod = "Get" })) { 
            @Html.EditorForModel()
        }
        
    </div>
    <img src="~/Images/ChessPieces/bB.png" />

</div>

@section scripts {
    @Styles.Render("~/Content/chess")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}